$line-gray:#f0f0f0;
$background-gray:#f0f0f0;
$background-gray-2:#f0f0f0;
$primary-color:#c20a66;
$secundary-color:#15808f;
$third-color:#f655a6;
$fifth-color:#751243;
$sixth-color:#CCB81F;
$seventh-color:#006775;
$black-color-text: #000000a6;