//max-content-width
$content-width:900px;

//middle-screens
$middle-screen-size: 1048px;
$middle-screen-font-size: 12px;
$middle-screen-title-size: 14px;


// Tablets
$tablet-size: 767px;
$tablet-font-size: 12px;
$tablet-title-size: 14px;

// Mobiles
$mobile-size: 540px;
$mobile-font-size: 12px;
$mobile-title-size: 14px;

$desktop-font-size: 14px;
